:root {
  --primary-color: #14141F;
  --primary-color-rgb: 20, 20, 31;

  --secondary-color: #1081e8;
  --secondary-color-2: #F32177;
  --secondary-color-rgb: 197, 38, 157;
  --secondary-color-rgb-2: 131, 100, 226;
}