:root {
  --primary-color: #14141F;
  --primary-color-rgb: 20, 20, 31;

  --secondary-color: #c5269d;
  --secondary-color-2: #8505ab;
  --secondary-color-rgb: 197, 38, 157;
  --secondary-color-rgb-2: 133, 5, 171;
}